<div class="container">
<%= render :partial => '/employees/search' %>

<%= render :partial => '/employees/sort_by_first_letter' %>

<table id="Employee">
  <tr>
    <th>Department_id</th>
    <th>Ssn</th>
    <th>Name</th>
    <th>Phone_number</th>
    <th>Address</th>
    <th>City</th>
    <th>Expense</th>
    <th>Age</th>
    <th>Salary</th>
  </tr>
<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.department_id %></td>
    <td><%= employee.ssn %></td>
    <td><%= employee.name %></td>
    <td><%= employee.phone_number %></td>
    <td><%= employee.address %></td>
    <td><%= employee.city %></td>
    <td><%= employee.expense %></td>
    <td><%= employee.age %></td>
    <td><%= employee.salary  %></td>
  </tr>
<% end %>
</table>

<p><%= link_to "Import employees", new_employee_import_path %></p>


<%= page_entries_info @employees %>
<%= paginate @employees %>
</div>